<h1>{{title}}</h1>

<div class="container">

<div class="row">
  <div class="col" *ngFor="let key of tomb">
    <h3>{{key}}</h3>
  </div>
  <div class="col">
    <h3>Actions</h3>
  </div>
</div>

<div class="row">
   <div class="col" *ngFor="let key of tomb">
      <input [(ngModel)]="ujEtel[key]">
   </div>
   <div class="col">
    <button (click)="addFood(ujEtel)">Add</button>
  </div>
</div>
<div *ngIf="etelek">
<div class="row"  *ngFor="let etel of etelek">
   <div class="col" *ngFor="let key of tomb">
      <input [(ngModel)]="etel[key]">
   </div>
 </div>
 </div>

</div>

<!-- <h1>{{title}}</h1>
<button (click)="setAdmin()">Admin {{isAdmin}}</button>
<!-- MVC Model, View, Controller 
<p></p>

<div *ngFor="let key of tomb">
  <h3>{{key}}</h3>
</div>

<h2>{{adat}}</h2>
<div *ngIf="isAdmin; else nemadmin">
  <input [(ngModel)]="adat">
  <button (click)="nyuszi()">Csak a nyúl</button>
</div>
<ng-template #nemadmin>
  <h2>Nem módosíthatod az állat faját!</h2>
</ng-template>
<hr>

<div *ngFor="let allat of allatok">
 {{allat.nev}}
{{allat["nev"]}} 
  <div *ngFor="let key of tomb">
    <h3>{{key}} : {{allat[key]}}</h3>
    <input [(ngModel)]="allat[key]">
  </div>
</div> -->
